form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(110, 105, 159);
    color: white;
    gap: 0.5rem;
}

input{
    height: 40px;
    padding-left: 1rem;
    font-size: 1.3rem;
}
textarea{
    font-size: 1.4rem;
    border-radius: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btForm{
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 98%;
    border: none;
    transition: 100ms;
    background-color: rgb(227, 213, 250);
    position: relative;
    left: 0.4vw;
}

.btForm:active{
    border: none;
}

.btForm:hover{
    transform: scale(1.009);
    background-color:rgb(134, 131, 214) ;
    color: white;
    border: 1px solid blue;
}
.OPACIOTI{
    position: absolute;
    opacity: 0;
    height: 40px;
    width: 100%;
}

@media (min-width: 800px) {
    form{
        border-radius: 1rem;
    }

}
